<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='plugins/images/favicon.png') }}">
    <title>Itara</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='html/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="{{ url_for('static', filename='plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css') }}" rel="stylesheet">
    <!-- toast CSS -->
    <link href="{{ url_for('static', filename='plugins/bower_components/toast-master/css/jquery.toast.css') }}" rel="stylesheet">
    <!-- morris CSS -->
    <link href="{{ url_for('static', filename='plugins/bower_components/morrisjs/morris.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='html/css/jquery.dm-uploader.min.css') }}" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{{ url_for('static', filename='plugins/bower_components/chartist-js/dist/chartist.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugins/bower_components/chartist-js/dist/custom-style-pie-chart.css') }}" rel="stylesheet">

    <!-- animation CSS -->
    <link href="{{ url_for('static', filename='html/css/animate.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='html/css/style.css') }}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{{ url_for('static', filename='html/css/colors/default.css') }}" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href="index.html">
                        <!-- Logo icon image, you can use font-icon also --><b>
                        <!--This is dark logo icon--><img src="{{ url_for('static', filename='plugins/images/admin-logo.png') }}" alt="home" class="dark-logo" /><!--This is light logo icon--><img src="{{ url_for('static', filename='plugins/images/admin-logo-dark.png') }}" alt="home" class="light-logo" />
                     </b>
                        <!-- Logo text image you can use text also --><span class="hidden-xs">
                        <!--This is dark logo text--><img src="{{ url_for('static', filename='plugins/images/admin-text.png') }}" alt="home" class="dark-logo" /><!--This is light logo text--><img src="{{ url_for('static', filename='plugins/images/admin-text-dark.png') }}" alt="home" class="light-logo" />
                     </span> </a>
                </div>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li style="padding: 70px 0 0;">
                        <a href='/home' class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="/compare" class="waves-effect"><i class="fa fa-tasks fa-fw" aria-hidden="true"></i>Compare Data</a>
                    </li>
                    <li>
                        <a href="/viewMore" class="waves-effect"><i class="fa fa-cogs fa-fw" aria-hidden="true"></i>Analysis</a>
                    </li>

                </ul>
                <div class="center p-20">
                     <a href="/" target="_blank" class="btn btn-danger btn-block waves-effect waves-light">Home Page</a>
                 </div>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <form action="/viewMore" method="get" style="display: flex;">
                        <div class="col-lg-6 col-md-4 col-sm-4 col-xs-12">
                            <h4 class="page-title">Itara Analysis</h4>
                        </div>
                        <!-- The drop downs -->

                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
                            <select class="form-control row b-none" name="monthData" style="width: 114px; postion:static; margin-right: 322px; width: 214px; ">
                                <option value="Jan">January</option>
                                <option value="Feb">February</option>
                                <option value="Mar">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="Jun">June</option>
                                <option value="Jul">July</option>
                                <option value="Aug">August</option>
                                <option value="Sept">September</option>
                                <option value="Oct">October</option>
                                <option value="Nov">November</option>
                                <option value="Dec">December</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
                            <select class="form-control row b-none" name="sentData" style=" postion:static; ">
                                <option value="positive">Positive</option>
                                <option value="negative">Negative</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-8">
                            <button type="submit" class="btn btn-block btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">View More</button>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Itara Insight</h3>
                            <div class="table-responsive" style="height: 400px;overflow-y: auto;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>TWEET</th>
                                            <th>DATE</th>
                                            <th>SENTIMENT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for moreOpt in result %}
                                            <tr>
                                                <td class="txt-oflo">{{ moreOpt[1] }}</td>
                                                <td><span class="txt-oflo">{{ moreOpt[0] }}</span></td>
                                                <td class="txt-oflo">{{moreOpt[2]}}</td>
                                         </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> Itara Analysis by Cheche Uduma  </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>

    <script src="{{ url_for('static', filename='plugins/bower_components/jquery/dist/jquery.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/jquery.dm-uploader.min.js') }}"> </script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='html/bootstrap/dist/js/bootstrap.min.js') }}"> </script>
    <!-- Menu Plugin JavaScript -->
    <script src="{{ url_for('static', filename='plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js') }}"> </script>
    <!--slimscroll JavaScript -->
    <script src="{{ url_for('static', filename='html/js/jquery.slimscroll.js') }}"> </script>
    <!--Wave Effects -->
    <script src="{{ url_for('static', filename='html/js/waves.js') }}"> </script>
    <!--Counter js -->
    <script src="{{ url_for('static', filename='plugins/bower_components/waypoints/lib/jquery.waypoints.js') }}"> </script>
    <script src="{{ url_for('static', filename='plugins/bower_components/counterup/jquery.counterup.min.js') }}"> </script>

    <!-- chartist chart -->
    <script src="{{ url_for('static', filename='plugins/bower_components/chartist-js/dist/chartist.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='plugins/bower_components/chartist-js/dist/simple-pie-chart.js') }}" ></script>

    <!-- Sparkline chart JavaScript -->
    <script src="{{ url_for('static', filename='plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js') }}"> </script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='html/js/custom.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='html/js/dashboard1.js') }}"> </script>

    <script src="{{ url_for('static', filename='plugins/bower_components/toast-master/js/jquery.toast.js') }}"> </script>


</body>

</html>
