<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       <title>Upload new File</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../plugins/images/favicon.png">
    <title>Itara</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='html/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="{{ url_for('static', filename='plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css') }}" rel="stylesheet">
    <!-- toast CSS -->
    <link href="{{ url_for('static', filename='plugins/bower_components/toast-master/css/jquery.toast.css') }}" rel="stylesheet">
    <!-- morris CSS -->
    <link href="{{ url_for('static', filename='plugins/bower_components/morrisjs/morris.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery.dm-uploader.min.css') }}" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{{ url_for('static', filename='plugins/bower_components/chartist-js/dist/chartist.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='plugins/bower_components/chartist-js/dist/custom-style-pie-chart.css') }}" rel="stylesheet">

    <!-- animation CSS -->
    <link href="{{ url_for('static', filename='html/css/animate.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='html/css/style.css') }}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{{ url_for('static', filename='html/css/colors/default.css') }}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>

   <a href="/multiple">Show Result</a>

    <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="white-box">
                            <h3 class="box-title">Most Common Words</h3>
                            <ul class="list-inline text-right">
                                <li>
                                    <h5><i class="fa fa-circle m-r-5 text-info"></i>{{seri2}}</h5>
                                </li>
                            </ul>
                            <div id="ct-chart-pie" style="height: 405px;"></div>
                        </div>
                    </div>
                </div>

    <script src="{{ url_for('static', filename='plugins/bower_components/jquery/dist/jquery.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='js/jquery.dm-uploader.min.js') }}"> </script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='html/bootstrap/dist/js/bootstrap.min.js') }}"> </script>
    <!-- Menu Plugin JavaScript -->
    <script src="{{ url_for('static', filename='plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js') }}"> </script>
    <!--slimscroll JavaScript -->
    <script src="{{ url_for('static', filename='html/js/jquery.slimscroll.js') }}"> </script>
    <!--Wave Effects -->
    <script src="{{ url_for('static', filename='html/js/waves.js') }}"> </script>
    <!--Counter js -->
    <script src="{{ url_for('static', filename='plugins/bower_components/waypoints/lib/jquery.waypoints.js') }}"> </script>
    <script src="{{ url_for('static', filename='plugins/bower_components/counterup/jquery.counterup.min.js') }}"> </script>

    <!-- chartist chart -->
    <script src="{{ url_for('static', filename='plugins/bower_components/chartist-js/dist/chartist.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='plugins/bower_components/chartist/dist/simple-pie-chart.js) }}" ></script>

    <!-- Sparkline chart JavaScript -->
    <script src="{{ url_for('static', filename='plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js') }}"> </script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='html/js/custom.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='html/js/dashboard1.js') }}"> </script>

    <script src="{{ url_for('static', filename='plugins/bower_components/toast-master/js/jquery.toast.js') }}"> </script>

    <script>
            var data = {
                series: [
                    {{seri}}
                ]
            };

            var sum = function(a, b) { return a + b };

            new Chartist.Pie('#ct-chart-pie', data, {
              labelInterpolationFnc: function(value) {
                return Math.round(value / data.series.reduce(sum) * 100) + '%';
              }
            });
    </script>
</body>
</html>

